{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">🛒 My Cart</h2>

<div class="row">

    <!-- Cart Table -->
    <div class="col-md-8">

        <table class="table table-bordered table-hover align-middle">

            <thead class="table-dark">

                <tr>
                    <th>Food</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>

            </thead>

            <tbody>

            {% for item in cart_items %}

                <tr>

                    <td>

                        <strong>{{ item.food.name }}</strong>

                    </td>

                    <td>

                        ₹{{ item.food.price }}

                    </td>

                    <td>

                        <a href="{% url 'decrease-cart' item.id %}"
                           class="btn btn-danger btn-sm">

                            -

                        </a>

                        <span class="mx-3 fw-bold">

                            {{ item.quantity }}

                        </span>

                        <a href="{% url 'increase-cart' item.id %}"
                           class="btn btn-success btn-sm">

                            +

                        </a>

                    </td>

                    <td>

                        ₹{{ item.total_price }}

                    </td>

                    <td>

                        <a href="{% url 'remove-cart' item.id %}"
                           class="btn btn-outline-danger btn-sm">

                            Remove

                        </a>

                    </td>

                </tr>

            {% empty %}

                <tr>

                    <td colspan="5" class="text-center">

                        <h5>Your Cart is Empty 🛒</h5>

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

    <!-- Order Summary -->

    <div class="col-md-4">

        <div class="card shadow">

            <div class="card-header bg-dark text-white">

                <h4>Order Summary</h4>

            </div>

            <div class="card-body">

                <p>

                    Total Items :
                    <strong>{{ cart_items.count }}</strong>

                </p>

                <hr>

                <h4>

                    Grand Total

                </h4>

                <h3 class="text-success">

                    ₹{{ total }}

                </h3>

                <hr>

                <a href="{% url 'checkout' %}"
                   class="btn btn-success w-100">
                    Proceed To Checkout
                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}